<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome <%=name%> </title>
</head>
<body>
    <div class="bg-red-300 rounded-2xl grid content-center">
        <h1 class="text-7xl">Email:<p><%=email%></p></h1>
        <h1 class="text-7xl">Name:<p><%=name%></p></h1>
    </div>
    <a href="signout">Sign Out</a>
</body>
</html>