<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/styles.css">
    <title>Adial - Signin</title>
</head>
<body>
    <form action="/users/create-session" method="post">
        <input type="email" placeholder="Enter your email!" required name="email">
        <input type="password" placeholder="Enter your password!" required name="password">
        <button type="submit" value="Submit">Submit</button>
    </form> 
</body>
</html>