<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/styles.css">
    <title>Document</title>
</head>
<body>
    <form action="/users/create" method="post">
        <input type="text" placeholder="Enter name" required name="name">
        <input type="email" placeholder="Enter your email!" required name="email">
        <input type="password" placeholder="Enter password" required name="password">
        <input type="password" placeholder="Re-Enter password" required name="re_password">
        <button type="submit" value="Sign-Up">Submit</button>
    </form>
</body>
</html>